<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://lw-xz.oss-cn-beijing.aliyuncs.com/lai_wu_ju_ma_jiang-234861621610428.ipa?Expires=1621882879&OSSAccessKeyId=TMP.3Kir2AtYt3aXxR1qYFyUzG8b3mXgCPpT4WRyZ6SdrB2t6ajZvG1DgQjURJsd5uW5CqAKY9CtHUSFPcr38MKezSs4L2EPBs&Signature=cbb2dTRTPCtc9k7%2B3ofeijJXvOg%3D&versionId=CAEQERiBgMCKppL.zBciIDEzYjQ0OGM0N2IyNjQwY2NiM2E2MzVjZGRhNTgxYjBj&response-content-type=application%2Foctet-stream</string><!--修改这里-->
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>url</key>
                        <string>https://github.com/youke881/laiwuju/blob/b435f131ab8a279585b34677c82e466bff8db3b9/57.png</string><!--修改这里-->
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>url</key>
                        <string>https://github.com/youke881/laiwuju/blob/b435f131ab8a279585b34677c82e466bff8db3b9/512.png</string><!--修改这里-->
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                     <string>com.sw.mj</string><!--修改这里-->
                     <key>bundle-version</key>
                    <string>1.0.0</string><!--修改这里-->
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>来物局麻将</string><!--修改这里-->
                </dict>
            </dict>
        </array>
    </dict>
</plist>
